.productCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1200px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #333333;

}
.productCard .productImage{
    width: 200px;
    margin-left: 100px;
    margin-right: 200px;

}
.productCard .productImage img{
    width: fit-content;
}


.productContainer{
    display: flex;
    flex-direction: column;
}

.productContainer .title{
    color: white;
    font-size: 30px;
    margin: 10px;
}

.productCard img{
    width: 300px;
    height: 250px;
    border-radius: 5px;
    margin: 10px;
}

.productPrice {
    color: white;
    margin: 10px;
    display: flex;
    gap : 60px;
}

.productPrice img{
  max-height: 50px;
  max-width: 100px;
  object-fit: contain;
  margin: 0 10px;
}